.rah_general_spinner {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: none;
	background: url('/assets/spinner_24x24.gif') no-repeat center center;
  z-index: 100;
}
.rah_general_spinner_container {
  position: relative;
}
#rah_body_spinner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  background: url('/assets/spinner_24x24.gif') no-repeat center center rgba(255, 255, 255, 0.5);
  z-index: 100;
}