<h1 id="teste">Listing animes</h1>

<%= link_to 'New Anime', new_anime_path %>
<br><br>

<table>
  <tr>
    <th>Title</th>
    <th>Type</th>
    <th>Eps</th>
    <th>Finished</th>
    <th>Cover</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<div id="animes">
  <%= render 'animes' %>
</div>